<mat-card class="one-button-card" [ngStyle]="{'background-color': 'rgb('+ (myService.tileColor.red) +','+ (myService.tileColor.green) +','+ (myService.tileColor.blue) +')'}" (click)="onRedirect(myService.url)" tabindex="0" matTooltip="Redirect to: {{myService.url}}" matTooltipPosition="above">
    <mat-card-title [ngStyle]="{'color' : myService.fontColor}" style="white-space: nowrap;"><label #myTitle style="cursor: pointer;">{{myService.name}}</label></mat-card-title>
        <mat-card-content class="content-section">
            <mat-icon class="icon-display" [ngStyle]="{'color' : myService.fontColor}" >{{myService.iconType}}</mat-icon>      
        </mat-card-content>
</mat-card>

